.signUpHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.6rem 1rem 1rem 1rem;
    border-bottom: 1px solid #898f9c6c;
}
.closeIcon{
    cursor: pointer;
}