.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 229, 229);
}

.titleCon{
    flex:2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pageTitle {
    width:25rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  


}
.pageTitle > h1{
    font-size: 3.5rem;
    color:#4267B2;
    text-align: start;
}

.pageTitle > p {
    font-size: 1.6rem;
    text-align:start;
}

.formContainer{
       width: 100%;
       height: 100%;
       display: flex;
     
       justify-content:center;
       align-items: center;
       flex: 2;
   
}

.formContainer > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:25rem ;

    background-color: white;
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #898f9ca8 ;

}

.formContainer > form >input {
    height: 3rem;
    width: 80%;
    margin:.4rem 0;
    border-radius: 0.5rem;
    border: 1px solid #898f9ca8;
    outline: none;
    padding: 0 1rem;
    font-size: 1.1rem;
}


.formContainer > form >input:focus{
    border: 2px solid #4267B2 ;
}

.formContainer > form > .loginSubmit{
    width: 89%;
    background-color: #4267B2 ;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formContainer > form > .loginSubmit:hover{
    background-color: #355ba5 ;
}
.formContainer > form >  .createAccountSubmit{
    width: 50%;
    cursor: pointer;
    background-color: rgb(3, 194, 3);
    color: white;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.forgetpassword {
    padding : 1rem 0;
    margin: 1rem 0;
    text-decoration: none;
    color:#4267B2 ;
    border-bottom: 1px solid #898f9c6c;
    width: 90%;
    text-align: center;
}

.trash {
    position: absolute;
    top: 2px;
    color:red;
   

}

@media (max-width:1000px) {
    .loginPage{
        flex-direction: column;
    }

    .pageTitle > h1 , .pageTitle > p {
        text-align: center;
     
    }
    .titleCon{
        flex-direction: column;
        flex:1;
    }
    .pageTitle {
        max-width: 23rem;
        margin-bottom: 1rem;
    }
    .formContainer{
        align-items: flex-start;
    } 
    .formContainer > form {
        max-width: 23rem;

    }
    .formContainer > form >  .createAccountSubmit{
        font-size: 1rem;
    }
}