.header{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;

}

.hambugger{
  width: 2.5rem;
}




@media (max-width:600px) {
  .header{
      justify-content: space-between;
  }



}