.header{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    width:100%;

}






@media (max-width:600px) {
  .header{
      justify-content: space-between;
      
  }



}