
.postHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

.postDetails >p{
    margin-left: 0.5rem;
}
.username{
    font-family:sans-serif ;
    font-weight: 550;
    color: rgb(77, 77, 77);
}


.user{
    display: flex;
}

.optionIcon{
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.optionIcon:hover{
  background-color: #898f9c79;
}