.postBody {
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postBody> img {
    height:auto;
    max-height: 24rem;
    width:100%;
    border-radius: 0;
}

.postBody> p{
    margin:1rem 1rem 1rem 0;
    text-align: start;
    width: 90%;
}