.postBody {
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postBody> img {
    height:auto;
    width: 33rem;
    border-radius: 0;
}

.postBody> p{
    margin:1rem;
    
}