*{
  margin: 0;
  padding: 0;
}

.fields{
  display: flex;
  justify-content: space-between;
  background-color: #898f9c79;
  ;
}


@media (max-width:1200px) {
  .fields{
    justify-content: space-around;
  }
}
